body, html, *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 24px;
  font-family: "Lato";
}

@font-face {
  font-family: "BebasNeue-Regular" ;
  src: url(../assets/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Oswald-VariableFont_wght";
  src: url(../assets/Oswald/Oswald-VariableFont_wght.ttf);
}


.hero-section {
  background: url('../assets/hero-image.png');
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 100vh;
}

.hero-section-nav, .history-section-nav{
  nav {
    display: flex;
    justify-content: space-around;

    .nav-icon{
      padding: 0.8rem;
    }

    ul {
      display: flex;
      list-style: none;

      li {
        padding: 1rem;
        color: white;
        font-size: 0.5rem;
        font-weight: bold;
        font-style: italic;
        text-decoration: underline;
        text-underline-offset: 0.1rem;
        text-transform: uppercase;
      }
    }
  }
}

.history-section {
  background: url('../assets/history-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  width: 100%;
  min-height: 120vh;

  .hero-section-nav{

    .nav-icon {
      display: flex;
      padding: 0.3rem;

      img {
        border-radius: 50%;
        border: 1px solid #414f6b;
      }

      h5 {
        text-transform: uppercase;
        padding-left: 0.3rem;
        font-family: "BebasNeue-Regular";

        span.first-part {
          color: black;
          letter-spacing: 0.05cm;
        }

        span.second-part {
          color: #414f6b;
          letter-spacing: 0.07cm;
        }
      }
    }
    nav {
      background-color: white;

      li {
        color: #414f6b;
      }
    }
  }

  .carousel {
    background: url(../assets/carousel-background.png);
    position: absolute;
    bottom: 0;
    width: 100%;

    .gallery {
      max-width: 70%;
      margin: 1rem auto 0;
      display: flex;
      justify-content: center;

      &-image {
        margin: 0.3rem;

        img {
          width: 8rem;
        }

      }
    }

    .dots {
      display: flex;
      justify-content: center;
      margin-bottom: 0.1rem;

      .ellipse-image {
        width: 0.3rem;
        opacity: 0.5;
        margin-right: 0.1rem;
      }

      .active {
        opacity: 1;
      }
    }
  }
}


.history-section {
  main {
    font-family: 'Oswald-VariableFont_wght';
    width: 65%;
    margin: 3rem auto;


    h1 {
      font-size: 5rem;
      font-weight: bold;
      color: #414f6b;
      line-height: 1.2;


      span.first-part {
        opacity: 0.5;
      }

      span.second-part {
        position: relative;
        font-size: 1.5rem;
        left: -1.1rem;
        bottom: 1.2rem;
      }
    }

    p {
      font-family: 'Lato';
      font-size: 0.7rem;
    }
  }
}

.climb-section {

  main {
    display: flex;
    margin: 0.5rem auto;
    width: 65%;

      p.main-content {
        font-family: 'Oswald-VariableFont_wght';
        font-size: 5rem;
        font-weight: bold;
        color: #414f6b;
        line-height: 0.3;

        span.second-part {
          position: relative;
          left: 5.1rem;
          bottom: 4.2rem;
          font-size: 1.5rem;
        }
      }

    p {
      margin: 3rem 0 0 4rem;
      font-size: 0.7rem;
      font-family: 'Lato';
    }
  }
}

.mountain-tab-section {
  .mountain-section-nav {
    background-color: #414f6b;
    color: #afb3bd;
    font-family: 'Oswald-VariableFont_wght';

    ul {
      list-style: none;
      display: flex;
      width: 60%;
      margin: 0 auto;

      li {
        margin-right: 0.3rem;
        padding: 0.175rem;
        font-size: 0.7rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
        cursor: pointer;
      }

      li.active {
        background-color: #afb3bd;
        color: #414f6b;
      }
    }
  }

  main.mountain1 {
    background: url(../assets/mountain1.png);
    height: 80vh;
  }

  main.mountain2 {
    background: url(../assets/mountain2.png);
    height: 80vh;
  }

  main {
    .schedule {
      background-color: rgba(255,255,255, 0.5);
      position: relative;
      top: 25%;
      left: 22%;
      width: 10rem;
      padding: 0.7rem;

      .heading {
        font-family: 'Oswald-VariableFont_wght';
        text-transform: uppercase;
        color: #414f6b;
      }

      ul {
        list-style: none;

        li {
          font-family: 'Lato';
          font-size: 0.5rem;
        }

        .schedule-date {
          margin-right: 1rem;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.shown {
  display: block;
}